<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinwu.app.modules.user.mapper.PwUserMapper">

    <resultMap type="com.pinwu.app.modules.user.domain.PwUser" id="PwUserResult">
        <result property="id"          column="id"    />
        <result property="userName"    column="user_name"    />
        <result property="nickname"    column="nickname"    />
        <result property="mobile"      column="mobile"    />
        <result property="password"    column="password"    />
        <result property="avatar"      column="avatar"    />
        <result property="status"      column="status"    />
        <result property="loginIp"     column="login_ip"    />
        <result property="loginDate"   column="login_date"    />
        <result property="createTime"  column="create_time"    />
        <result property="updateTime"  column="update_time"    />
    </resultMap>

    <sql id="selectPwUserVo">
        select id, user_name, nickname, mobile, password, avatar, status, login_ip, login_date, create_time, update_time
        from pw_user
    </sql>

    <select id="selectPwUserByMobile" resultMap="PwUserResult">
        <include refid="selectPwUserVo"/>
        where mobile = #{mobile}
    </select>

    <select id="selectPwUserById" resultMap="PwUserResult">
        <include refid="selectPwUserVo"/>
        where id = #{id}
    </select>

    <insert id="insertPwUser" parameterType="com.pinwu.app.modules.user.domain.PwUser" useGeneratedKeys="true" keyProperty="id">
        insert into pw_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null">user_name,</if>
            <if test="nickname != null">nickname,</if>
            <if test="mobile != null">mobile,</if>
            <if test="password != null">password,</if>
            <if test="avatar != null">avatar,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userName != null">#{userName},</if>
            <if test="nickname != null">#{nickname},</if>
            <if test="mobile != null">#{mobile},</if>
            <if test="password != null">#{password},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updatePwUser" parameterType="com.pinwu.app.modules.user.domain.PwUser">
        update pw_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="mobile != null">mobile = #{mobile},</if>
            <if test="password != null">password = #{password},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="status != null">status = #{status},</if>
            <if test="loginIp != null">login_ip = #{loginIp},</if>
            <if test="loginDate != null">login_date = #{loginDate},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

</mapper>