/* src/uni.scss */

/* 拼物质 - 品牌色系 */
$pin-primary: #27ba9b;      /* 主色 - 你的核心绿 */
$pin-success: #1dc779;      /* 成功 */
$pin-warning: #ffb302;      /* 警告 */
$pin-danger:  #e26237;      /* 价格/强调 */
$pin-error:   #cf4444;      /* 错误 */

/* 背景与文字 */
$pin-bg-color: #f5f7fa;     /* 全局浅灰背景 */
$pin-white: #ffffff;
$pin-text-main: #303133;    /* 主要文字 */
$pin-text-regular: #606266; /* 常规文字 */
$pin-text-placeholder: #909399; /* 提示文字 */